{% extends 'base.html' %}
{% block content %}

<h2>Bienvenido al sistema RepoGalys</h2>

<p>Seleccioná una opción para comenzar:</p>

<ul>
  <li><a href="{% url 'subir_excel' %}">📄 Cargar productos por Excel</a></li>
  <li><a href="{% url 'editar_producto' %}">✏️ Editar un producto manualmente</a></li>
  <li><a href="{% url 'subir_ubicaciones' %}">📦 Cargar ubicaciones del carrusel</a></li>
  <li><a href="{% url 'analisis_ocupacion' %}">📊 Análisis de ocupación por batea</a></li>
  <li><a href="{% url 'armar_reposicion' %}">📦 Armar reposición de Galys</a></li>
  <li><a href="{% url 'crear_backup' %}">🛡️ Crear copia de seguridad</a></li>
</ul>

{% endblock %}