<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a RepoGalys</h1>

    <ul>
      <li><a href="{% url 'subir_excel' %}">📄 Subir archivo Excel</a></li>
      <li><a href="{% url 'crear_backup' %}">🛡️ Crear copia de seguridad</a></li>
    </ul>
    
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li style="color: green;">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
</body>
</html>